__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/*
results/figures/*
results/tables/*
*.log
# *.xlsx (Removed to allow uploading CGB data)
*.csv
!results/report.md
!README.md
!results/tables/.gitkeep
!results/figures/.gitkeep
!data/processed/.gitkeep